{% extends "index.html.twig" %}

{% block name %}
    <div class="bodylayout">
        <div class="introduction" id="divwidth">
            <div class="textlineup">
                <h3>Nicky de Vendt</h3>
                <p>Welcome to my About page here you can find the info about me and what kind of person I am but dont forget to take a look at my Resume page where you can download my C.V.!!</p>
            </div>
            <div class="worklineup">
            <img src="/img/appels.jpg" alt="banaan">
            </div>

        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="section_row_3">
        <div class="learngoals">
            <h1>#GOALS</h1>
            <ul>
                <li>Becoming a programmer.</li>
                <li>Learning spanish.</li>
                <li>ending my education.</li>
                <li>Leaving the army.</li>
                <li>Getting a full time programming job.</li>
                <li>going on holiday (twice).</li>
                <li>Learn snowboarding and skiing.</li>
                <li>Going on wintersports the end of this year.</li>
                <li>Airsoft more frequently.</li>
            </ul>
        </div>
        <div class="imggallery">
            <img src="/img/appels.jpg" alt="banaan">
            <img src="/img/bears.jpg" alt="banaan">
            <img src="/img/appels.jpg" alt="banaan">
            <img src="/img/bears.jpg" alt="banaan">
        </div>
    </div>
{% endblock %}

{% block text %}
    <div class="bodylayout">
        <h1>My life in a nutshell</h1>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>programming</h2>
                <p>In 2013 I joined the army never knowing that years later I would start a career as a programmer.... now I succesfully build my first sites with different methods from easy to hard and I already have some knowledge about html,css because thats the first thing you learn in web development and I started working with php javascript SQL and learned a thing or two about databasing... with methods like symfony object oriented programming and different database clients and databases.</p>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>

            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="textlineup">
                <h2>dos cerveza por favor</h2>
                <p>Two beers please..... I still believe that addressing someone in his or her own language is still more succesfull and pleasant than trying to come togheter in english altho its a good solution I am learning the world languages so I can communicate with people who dont understand my native language or arent capable of communicating with me in english.</p>
            </div>
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>Bye bye school life</h2>
                <p>for over 2 years I was in school letting people tell me once again on how to learn programming but oh boy... I hate people telling me what to do and telling me there is only one way to Rome...</p>
                <p>Altho I never want to go back to school in my life again I will never stop learning. I am succesfull in what I did and currently am doing and I am willing to learn and succeed.</p>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>
            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="textlineup">
                <h2>Its time for a new chapter...</h2>
                <p>In 2013 I joined the army and succesfully ended basic training. from there on I would commit my service time to help and save people. I was put through heavy tests and been through alot of stuff, the army gave me a great package of life experience. 
                </p>
                <p>Lets say I have some good story's to tell inside the pub.... but while on job application if you have any questions ask me! I wouldnt want you to stick with questions.
                </p>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>
            </div>
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>learn learn learn</h2>
                <p>As I said earlier I will never stop learning, alot of great and wise people in my life thought me to never stop learning because its the greatest power of mankind. WE are self learned and selfmade we get opportunities by the route we walk in life and I believe in those opportunities.</p>
                <h2>Nobody is born great, its achieved!</h2>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>
            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="textlineup">
                <h2>Always wanting and always working.</h2>
                <p>When I was a kid I dreamed about learning to ski. Now years later I chose to start learning skiing get the basics and from there on I will learn myself the rest.</p>
                <p>And when I learned skiing I will start with snowboarding and after that I will go on winter sports and I want to experience those good snowie days!!!</p>
                <p>Its just because I hear everybody talking about those good snowie white days with santa in the back.</p>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>
            </div>
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>pew pew pew</h2>
                <p>Last but not least I want to tell you about Airsoft its a great sport I learned about in 2016. When I first heard it I never imagined that I would spend so much time effort and fun into it. Its action packed with lots off fun moments and companionship.</p>
                <p>After all when I go airsofting for a day imagine a day full of fun with sweat everywhere and alot of kills because thats what its all about. Airsoft is a sport where you shoot on the enemy with a replica of a real gun ar15 m16 m4 and so on...</p>
                <p>You fire with a 6mm Bio degradeble pellet and you can reach to over 80meters with compressed air wich you can either achieve by using electronics which is mostly used. But alternatives are co2, gas, air tanks and spring powered compressed air.
                </p>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>
            </div>
        </div>
    </div>
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="textlineup">
                <h2>Long term achievements to come...</h2>
                <p>I want to bring it to an end so you can go to the Resume page where you can download my C.V. and maybe even get in touch with me.</p>
                <h3>lets end it with my future long term goals.</h3>
                <p>To start with I want to know and speak atleast 4 languages before 2020 and I want to speak them fluently. with that said in about 6 years before 2024/2025 I want to be a Senior webdeveloper and yes I completly understand that I need to get going if I want to make that!</br> To reach those goals I need to be as vigilant as possible and open to every possibility on my road, one day I will be a full stack web developer!</p>
                <div class="kleinefotos">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                    <img src="/img/appels.jpg" alt="kleine foto">
                </div>
            </div>
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
        </div>
    </div>
    <div class="nextpage">
        <form action="/resume" method="post">
            <button class="nextpagebutton">Lets get to the next page! <i class="arrow right"></i></button>
        </form>
    </div>
{% endblock %}

