{% extends 'index.html.twig' %}

{% block name %}
    <h1>See all users & admins</h1>
{% endblock %}

{% block main %}
    <div class="tablealignment">
        <table class="table blueTable">
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Prefix</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Current employer</th>
                <th>Username</th>
                <th>Role</th>
                <th>Action</th>
                <th></th>
            </tr><!-- here needs to come all user data like user.id and so on but for now fix this -->
            <!-- there also needs to come a for statement for each user from the database like for user in users -->
                <tr>
                    <form name="allusers">
                        <td><input name="id" value="" readonly></td>
                        <td><input name="firstname" value=""></td>
                        <td><input name="prefix" value=""></td>
                        <td><input name="lastname" value=""></td>
                        <td><input name="email" value=""></td>
                        <td><input name="currentemployer" value=""></td>
                        <td><input name="username" value="" readonly></td>
                        <td><input name="role" value=""></td>
                        <td>
                            <input class="updatebtn" type="button" value="update user" onClick="adminUpdateUser();">
                        </td>
                        <td>
                            <input class="deletebtn remove" type="button" name="deletevisitor" value="delete" onClick="adminDeleteUser();">
                        </td>
                    </form>
                </tr>
        </table>
    </div>
{% endblock%}

{% block text %}
    <h1>See all visitors</h1>
{% endblock%}
{% block promotion %}
    <div class="tablealignment">
        <table class="table blueTable">
            <tr>
                <th>ID</th>
                <th>Randomid</th>
                <th>Inviter ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date created</th>
                <th>Expire date</th>
                <th>Action</th>
            </tr><!-- here needs to come a for statement for all visitors like for each visitor in visitors and then with visitor.id etc -->
                <tr>
                    <td>blarps</td>
                    <td>blarps</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form name="allvisitors">
                            <input class="deletebtn remove" type="button" name="deletevisitor" value="delete" onClick="adminDeleteVisitor();">
                        </form>
                    </td>
                </tr>
        </table>
    </div>
{% endblock %}

{% block recentprojects %}
    <div class="Createpdftable">
        <table class="table blueTable">
            <tr>
                <th>pdf naam</th>
                <th>Action</th>
            </tr>
            <tr>
                <form name="pdfform"><!-- fix the pdf because its not working! -->
                    <td><input name="name" value="" required></td>
                    <td><input class="updatebtn" type="button" name="deletevisitor" value="delete" onClick="adminCreatePDF();"></td>
                </form>
            </tr>
        </table>
    </div>
{% endblock %}

