<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content=" width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/home.css">
       {# <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> #}
      {#  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/> #}
        <title>Portfolio</title>
    </head>
    <body>
        {% block header %}
            <div class="topnav">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/workprojects">Work & projects</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/resume">Resumé</a></li>
                    <li><a href="/contact">Contact</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/userpanel">User panel</a></li>
                        <li><a href="/adminpanel">Admin panel</a></li>
                         <li>
                            <form action="/logout" method="post">
                                <button class="logoutbtn" type="submit" name="logoutnow" value="logoutnow">Log out</button>
                            </form>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li><a href="/userpanel">User panel</a></li>
                        <li>
                            <form action="/logout" method="post">
                                <button class="logoutbtn" type="submit" name="logoutnow" value="logoutnow">Log out</button>
                            </form>
                        </li>
                    {% elseif is_granted('ROLE_VISITOR') %}
                        <li>
                            <form action="/logout" method="post">
                                <button class="logoutbtn" type="submit" name="logoutnow" value="logoutnow">Log out</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="/reglog">Login and registration</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
        {% block personalimage %}
            <div class="navBrand">
                <img src="/img/fire.gif">
                <img src="/img/personicon.jpg">
            </div>
            <div id="loading">
                <img src="/img/load.gif" />
            </div>
        {% endblock %}
        {% block name %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block text %}
        {% endblock %}

        {% block promotion %}
        {% endblock %}

        {% block recentprojects %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="footer">
                  <div class="footerlayout">
                  {% if is_granted('ROLE_USER') or is_granted('ROLE_VISITOR') or is_granted('ROLE_ADMIN') %}
                    <div class="footercontact" id="creative">
                        <h3>CREATIVE</h3>
                        <h4>DESIGN</h4>
                        <p>This website is completly build in Symfony 4 framework with twig,jqeury and the latest PHP code!</p>
                    </div>
                    <div class="footercontact" id="mail" id="footerpng">
                          <img src="/img/mail.png">
                          <h4>Mail me</h4>
                          <p><a href="mailto:nickydevendt@hotmail.com">Nickydevendt@hotmail.com</a></p>
                    </div>
                    <div class="footercontact" id="call" id="footerpng">
                          <img src="/img/phone.png">
                          <h4>Call me</h4>
                          <p>06 155 039 59</p>
                    </div>
                    <div class="footercontact" id="findus">
                          <img src="/img/location.png" id="footerpng">
                          <h4>Find me</h4>
                          <p>Ijsselstraat 45, Ijmuiden</p>
                    </div>
                    {% else %}
                    <div class="footercontact" id="creative">
                        <h3>CREATIVE</h3>
                        <h4>FREEBIES</h4>
                        <p>Currently protecting my personal info, login with the received login credentials to see my info.
                        no data received or never been in contact with me send a mail from the contact page to receive the needed info to log in.</p>
                    </div>
                    <div class="footercontact" id="mail" id="footerpng">
                          <img src="/img/mail.png">
                          <h4>Mail</h4>
                          <p>login@personalwebsite.info</p>
                    </div>
                    <div class="footercontact" id="call" id="footerpng">
                          <img src="/img/phone.png">
                          <h4>Call me</h4>
                          <p>+31 123 456 789</p>
                    </div>
                    <div class="footercontact" id="findus">
                          <img src="/img/location.png" id="footerpng">
                          <h4>Find me</h4>
                          <p>loginfirst-street, to-see-data city </p>
                    </div>

                    {% endif %}

                  </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
