{% extends "index.html.twig" %}

{% block name %}
<div class="birds">
    <img src="/img/bird1.gif" class="birds" id="bird1">
    <img src="/img/bird1.gif" class="birds" id="bird2">
    <img src="/img/bird1.gif" class="birds" id="bird3">
    <img src="/img/bird1.gif" class="birds" id="bird4">
    <img src="/img/bird1.gif" class="birds" id="bird5">
    <img src="/img/bird1.gif" class="birds" id="bird6">
</div>
<div class="mountain">
{% endblock %}

{% block main %}
    <div class="reglog">
	    {% if error is defined %}
	        <div><p>{{ error.message|trans }}</p></div>
		{% endif %}
        <div class="login" id="formstyling">
            <div>
                <h1>Log in</h1>
            </div>
	    <form action="{{ path('login_check') }}" method="post">
                <label for="username">Fill in your username</label></br>
		<input type="text" name="_username" placeholder="username" autocomplete="username" required></br>
                <label for="password">Fill in your password</label></br>
                <input type="password" name="_password" placeholder="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="password" required></br>
                <input type="submit" name="loginsubmit" value="Log in" class="loginbtn"></br>
            </form>
                <button class="registerbtn" id="register">Create new user</button>
        </div>
    <div class="register" id="formstyling">
            <form action="register" method="post">
                <label for="firstname">What is your firstname?</label></br>
                <input type="text" name="firstname" value="" required></br>
                <label for="prefix">prefix</label></br>
                <input type="text" name="prefix" value="" required></br>
                <label for="lastname">What is your lastname</label></br>
                <input type="text" name="lastname" value="" required></br>
                <label for="username">What username would you like to use?</label></br>
                <input type="text" name="username" value="" required></br>
                <label for="password">What password would you like to use?</label></br>
                <input type="password" name="password" value="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></br>
                <label for="email">What email do you like to use?</label></br>
                <input type="email" name="email" value="" required></br>
                <label for="employer">What is your current employer?</label></br>
                <input type="text" name="currentemployer" value="" required></br>
                <input class="registerbtn" type="submit" name="registersubmit" value="Register">
                <input class="loginbtn" id="login"type="submit" value="Back to login" style="padding-left: 80px;">
            </form>
        </div>
    </div>
    {% endblock %}

{% block promotion %}
    <div class="visitorarea" id="formstyling">
        <div class="kleurtjes">
            <h2>Visitor login</h2>
            <div class="visitorlogin">
                <form action="{{ path('login_check')}}" method="post">
                    <label for="email">Enter your Email adres</label>
                    <input type="text" name="_email" placeholder="Enter your email" required>
                    <label for="password">Enter your personal password</label>
                    <input type="text" name="_password" placeholder="Enter your password" required>
                    <input type="submit" name="visitorsubmit" value="Log in" class="loginbtn"></br>
                </form>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="reglog.js"></script>
{% endblock %}

