{% extends 'index.html.twig' %}

{% block main %}
<h1>My new resume</h1>
<div class="resumealign">
        <form name="newresume" action="">
            <table class="resumelefttable">
                <tr><td><label for="foto">Insert foto</label> <input id="foto" name="foto" value="foto"></td></tr>
                <tr><td><label for="fullname">Enter fullname</label> <input name="fullname" value="fullname"></td></tr>
                <tr><td><label for="street">street</label> <input name="street" value="street"></td></tr>
                <tr><td><label for="zipcode">zipcode</label> <input name="zipcode" value="zipcode"></td></tr>
                <tr><td><label for="city">city</label> <input name="city" value="city"></td></tr>
                <tr><td><label for="dateofbirth">dateofbirth</label> <input name="dateofbirth" value="dateofbirth"></td></tr>
                <tr><td><label for="phone">phone</label> <input name="phone" value="phone"></td></tr>
                <tr><td><label for="email">email</label> <input name="email" value="{{ user.email }}" readonly></td></tr>
                <tr><td><label for="skills">Choose a skill set name </label> <input name="skills" value="Enter a skillname"></td></tr>
                <tr>
                    <td><label for="skill1">Choose a sub skill set name</label> <input name="skill1" value="Enter a skillname"></td>
                    <td>
                        <label for="skill1value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill1value" value="1">
                        <input type="radio" name="skill1value" value="2">
                        <input type="radio" name="skill1value" value="3">
                        <input type="radio" name="skill1value" value="4">
                        <input type="radio" name="skill1value" value="5">
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td><label for="skill2">Choose a sub skill set name</label> <input name="skill2" value="Enter a skillname"></td>
                    <td>
                        <label for="skill2value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill2value" value="1">
                        <input type="radio" name="skill2value" value="2">
                        <input type="radio" name="skill2value" value="3">
                        <input type="radio" name="skill2value" value="4">
                        <input type="radio" name="skill2value" value="5">
                    </td>
                </tr>
                <tr>
                    <td><label for="skill3">Choose a sub skill set name</label> <input name="skill3" value="Enter a skillname"></td>
                    <td>
                        <label for="skill3value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill3value" value="1">
                        <input type="radio" name="skill3value" value="2">
                        <input type="radio" name="skill3value" value="3">
                        <input type="radio" name="skill3value" value="4">
                        <input type="radio" name="skill3value" value="5">
                    </td>
                </tr>
                <tr>
                    <td><label for="skill4">Choose a sub skill set name</label> <input name="skill4" value="Enter a skillname"></td>
                    <td>
                        <label for="skill4value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill4value" value="1">
                        <input type="radio" name="skill4value" value="2">
                        <input type="radio" name="skill4value" value="3">
                        <input type="radio" name="skill4value" value="4">
                        <input type="radio" name="skill4value" value="5">
                    </td>
                </tr>
                <tr><td><label for="secondaryskills">Choose a secondary skill set name </label> <input name="secondaryskills" value="Enter a skillname"></td></tr>
                <tr>
                    <td><label for="skill21">Choose a sub skill set name</label> <input name="skill21" value="Enter a skillname"></td>
                    <td>
                        <label for="skill21value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill21value" value="1">
                        <input type="radio" name="skill21value" value="2">
                        <input type="radio" name="skill21value" value="3">
                        <input type="radio" name="skill21value" value="4">
                        <input type="radio" name="skill21value" value="5">
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td><label for="skill22">Choose a sub skill set name</label> <input name="skill22" value="Enter a skillname"></td>
                    <td>
                        <label for="skill22value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill22value" value="1">
                        <input type="radio" name="skill22value" value="2">
                        <input type="radio" name="skill22value" value="3">
                        <input type="radio" name="skill22value" value="4">
                        <input type="radio" name="skill22value" value="5">
                    </td>
                </tr>
                <tr>
                    <td><label for="skill23">Choose a sub skill set name</label> <input name="skill23" value="Enter a skillname"></td>
                    <td>
                        <label for="skill23value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill23value" value="1">
                        <input type="radio" name="skill23value" value="2">
                        <input type="radio" name="skill23value" value="3">
                        <input type="radio" name="skill23value" value="4">
                        <input type="radio" name="skill23value" value="5">
                    </td>
                </tr>
                <tr>
                    <td><label for="skill24">Choose a sub skill set name</label> <input name="skill24" value="Enter a skillname"></td>
                    <td>
                        <label for="skill24value">choose skill lvl</label>
                    </td>
                    <td>
                        <input type="radio" name="skill24value" value="1">
                        <input type="radio" name="skill24value" value="2">
                        <input type="radio" name="skill24value" value="3">
                        <input type="radio" name="skill24value" value="4">
                        <input type="radio" name="skill24value" value="5">
                    </td>
                </tr>
                <tr>
                    <td><label for="personality">Personality</label><input name="personality" value="Personality"></td>
                </tr>
                <tr><td><input name="personality1" value="choose a personality trait"></td></tr>
                <tr><td><input name="personality2" value="choose a personality trait"></td></tr>
                <tr><td><input name="personality3" value="choose a personality trait"></td></tr>
                <tr><td><input name="personality4" value="choose a personality trait"></td></tr>
                <tr><td><input name="personality5" value="choose a personality trait"></td></tr>
                <tr>
                    <td>
                        <input class="updatebtn" type="button" value="update user" onClick="updateUser();">
                    </td>
                </tr>
            </table>
            <table class="resumerighttable">
                <tr><td><label for="profile">Choose a profile name</label><input name="profile" value="Profile"></td></tr>
                <tr>
                    <td>
                        <label for="profiletext">Choose a nice stunning profile text to catch the eye of a promoter</label>
                        <textarea rows="4" cols="80">Fill in your own text ....</textarea>
                    </td>
                </tr>
                <tr><td></br></br></td></tr>
                <tr><td><label for="education">Educations</label><input name="education" value="Education"></td></tr>
                <tr><td><label>First worth mentioning education</label></td></tr>
                <tr>
                    <td>
                        <label for="schooling">You went there from date x to date y please use the date picker</label>
                        <input type="date" name="schoolingfrom">
                        <input type="date" name="schoolingto">
                    </td>
                </tr>
                <tr><td><label for="schoolname">Enter school name</label><input name="schoolname" value="your schoolname here"></td></tr>
                <tr><td><label for="schoolnametext">tell us a bit more in one line</label><input name="schoolnametext" value="enter a oneliner about that education"></td></tr>
                <tr><td></br></br></td></tr>
                <tr><td><label>Second worth mentioning education</label></td></tr>
                <tr>
                    <td>
                        <label for="schooling2">You went there from date x to date y please use the date picker</label>
                        <input type="date" name="schoolingfrom2">
                        <input type="date" name="schoolingto2">
                    </td>
                </tr>
                <tr><td><label for="schoolname2">Enter school name</label><input name="schoolname2" value="your schoolname here"></td></tr>
                <tr><td><label for="schoolnametext2">tell us a bit more in one line</label><input name="schoolnametext2" value="enter a oneliner about that education"></td></tr>
                <tr><td></br></br></td></tr>
                <tr><td><label for="experience">Tell us about your work experience</label><input name="experience" value="Experience"></td></tr>
                <tr><td><label>First worth mentioning experience for this job application</label></td></tr>
                <tr>
                    <td>
                        <label>You worked there from date x to date y please use the date picker</label>
                        <input type="date" name="workfrom">
                        <input type="date" name="workto">
                    </td>
                </tr>
                <tr><td><label for="workname">Enter work name</label><input name="workname" value="your work name here"></td></tr>
                <tr><td><label for="worknametext">tell us a bit more in one line</label><input name="worknametext" value="enter a oneliner about that employer. be kind and motivated."></td></tr>
                <tr><td></br></br></td></tr>
                <tr><td><label>Second worth mentioning work experience</label></td></tr>
                <tr>
                    <td>
                        <label>You worked there from date x to date y please use the date picker</label>
                        <input type="date" name="workfrom2">
                        <input type="date" name="workto2">
                    </td>
                </tr>
                <tr><td><label for="workname2">Enter school name</label><input name="workname2" value="your schoolname here"></td></tr>
                <tr><td><label for="worknametext2">tell us a bit more in one line</label><input name="worknametext2" value="enter a oneliner about that employer.. be kind and motivated."></td></tr>
                <tr><td></br></br></td></tr>
                <tr><td><label for="motivation">Choose motivating one liners</label><input name="motivation" value="Motivation"></td></tr>
                <tr><td><input name="motivationoneliner1" value="Enter a cheesy oneliner"></td></tr>
                <tr><td><input name="motivationoneliner2" value="Enter a cheesy oneliner"></td></tr>
                <tr><td></br></br></td></tr>
                <tr><td><label for="techwork">Choose your technical knowledge your new employer needs to know</label><input name="techwork" value="Technical knowledge"></td></tr>
                <tr><td><input name="techwork1" value="enter technical knowledge that is usefull for employers"></td></tr>
                <tr><td><input name="techwork2" value="enter technical knowledge that is usefull for employers"></td></tr>
                <tr><td><input name="techwork3" value="enter technical knowledge that is usefull for employers"></td></tr>
                <tr><td><input name="techwork4" value="enter technical knowledge that is usefull for employers"></td></tr>
                <tr><td></br></br></td></tr>
                <tr><td><label for="hobby">Choose your hobbys with a nice image</label><input name="hobby" value="Hobbies"></td></tr>
                {# there needs to come a image selector above all hobbys maybe even let them self upload them? needs to resize to manage all the data flowing in #}
                <tr><td><input name="hobby1" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby2" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby3" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby4" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby5" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby6" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby7" value="Enter a hobby name"></td></tr>
                <tr><td><input name="hobby8" value="Enter a hobby name"></td></tr>
                <tr><td></br></br></td></tr>
                <tr>
                    <td>
                        <label for="finalword">Choose your final word to tell your employer</label><input name="finalword" value="Enter text based on what you want to let your employer know">
                    </td>
                </tr>
            </table>
        </form>
    </div>
<div id="succes"></div>
{% endblock %}

