{% extends 'index.html.twig' %}

{% block name %}
    <div class="backgroundclassresume">
        <div class="resumetext">
            <h1>Nicky de Vendt</h1>
            <h2>Webdeveloper(junior), your future expert</h2>
        </div>
    </div>
    <div class="personalimage">
        <img src="/img/pimage.jpg">
    </div>
{% endblock %}

{% block main %}
    <div class="resumeintro">
        <div class="socialresume">
            <a href="https://www.facebook.com" target="_blank"><img src="/img/facebook.png"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/img/instagram.png"></a>
        </div>
        <p>Lorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamer
        </p>
        <div class="pdf">
            <form action="/resume/nlpdf" method="post" name="lang">
                <button class="languagebtn" name="nlpdf" value="nlpdf" >
                    <img src="/img/nlflag.png">
                </button>
            </form>
            <form action="/resume/ukpdf" method="post" name="lang">
                <button class="languagebtn" name="ukpdf">
                    <img src="/img/ukflag.png">
                </button>
            </form>
            <form action="/resume/gerpdf" method="post" name="lang">
                <button class="languagebtn" name="gerpdf">
                    <img src="/img/germanflag.png">
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block text %}
    <div class="overlaytimeline">
        <div class="timeline"></div>
        <div class="">
            <h2>Experience Timeline</h2>
            <div class="timeline">
                <div class ="timelinerow">
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>Sensimedia</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Full stack web developing internship - Netherlands</h3>
                            <h3>February 2018 - June 2015</h3>
                            </br>
                            <p>For my end training I needed to participate in an 6 months internship and I did this at Sensimedia. I learned so many things there I currently know how much I still need to learn.... this is a good future because I still can learn so much!!!
                            </p>
                        </div>
                    </div>
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>Premiums.mobi</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Web design internship - Netherlands</h3>
                            <h3>oktober 2016 - december 2016</h3>
                            </br>
                            <p>When I started my intro internship for my application development training I was surprise how much I could learn in such a small time and they really gave me a headstart into my MBO-4 application developer education which I am currently starting to end and I will be finished by juli 2018.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timelinerow">
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>Dutch Royal navy</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Field services and logistics royal navy - Netherlands</h3>
                            <h3>February 2015 - mei 2015</h3>
                            </br>
                            <p>I did my last Internship for my MBO-2 IT employee at the royal dutch navy where I would help military personel with IT issues all across the base. I had a splendid time here and I learned alot of pc's and helping people that really need their pc to get to work.
                            </p>
                        </div>
                    </div>
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>Royal army</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Army combat engineers - Netherlands</h3>
                            <h3>August 2013 - December 2018</h3>
                            </br>
                            <p>At the end of 2013 I came up as a regular soldier and had 3 months of basic training after that I went into specialized training for 3 weeks and after that I went to my first company in the 13e brigade and 41e combat engineer platoon where I had a special time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block promotion %}
        <div class="skilltext">
            <h4>skills</h4>
        </div>
    <div class="skillsrow">
        <div class="skills">
            <h3>Professional</h3>
            <div class="skilltree">
                <p>skill 1</p>
                <progress value="30" max="100"></progress>
                <p>skill 1</p>
                <progress value="25" max="100"></progress>
                <p>skill 1</p>
                <progress value="11" max="100"></progress>
               <p>skill 1</p>
                <progress value="55" max="100"></progress>
               <p>skill 1</p>
                <progress value="64" max="100"></progress>
               <p>skill 1</p>
                <progress value="78" max="100"></progress>
            </div>
        </div>
        <div class="skills">
            <h3>Personal</h3>
            <div class="skilltree">
                <p>skill 1</p>
                <progress value="13" max="100"></progress>
                <p>skill 1</p>
                <progress value="80" max="100"></progress>
                <p>skill 1</p>
                <progress value="44" max="100"></progress>
               <p>skill 1</p>
                <progress value="33" max="100"></progress>
               <p>skill 1</p>
                <progress value="46" max="100"></progress>
               <p>skill 1</p>
                <progress value="88" max="100"></progress>
            </div>
        </div>
        <div class="skills">
            <h3>Language</h3>
            <div class="skilltree">
                <p>skill 1</p>
                <progress value="10" max="100"></progress>
                <p>skill 1</p>
                <progress value="20" max="100"></progress>
                <p>skill 1</p>
                <progress value="90" max="100"></progress>
               <p>skill 1</p>
                <progress value="30" max="100"></progress>
               <p>skill 1</p>
                <progress value="50" max="100"></progress>
               <p>skill 1</p>
                <progress value="12" max="100"></progress>
            </div>
       </div>
    </div>
{% endblock %}

{% block recentprojects %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="resume.js"></script>
{% endblock %}

